# Requirements
torch==2.2.2
torchvision==0.17.2
transformers==4.41.2
datasets==3.1.0
numpy==1.24.4
pandas==2.2.2
matplotlib==3.9.0
pyyaml==6.0.1
pytest==6.2.5
# syft==0.9.2
scipy==1.11.3
POT==0.9.5
pydantic==2.6.0
opt_einsum==3.3.0
tqdm==4.66.2
eth-brownie==1.20.6
web3==6.15.1
peft==0.13.2
seaborn==0.13.2
eth-utils==2.3.1
zkpy==0.2.0

# # May not be necessary
# jupyter
# PySyft
# prv-accountant
# ml-swissknife
# fairscale
# deepspeed
# jupyterlab