torch
torchvision
transformers
datasets
numpy
pandas
matplotlib
jupyter
peft
PySyft
pyyaml
pytest
syft
scipy
scikit-learn
POT
prv-accountant
scipy
pydantic
opt_einsum
ml-swissknife
fairscale
tqdm
deepspeed
jupyter
jupyterlab
